/* All variables, including colors. */
/* All mixins. */
/* All animation keyframes. */
.fade-in {
  animation: fade-in .5s ease-in-out forwards; }

.fade-out {
  animation: fade-out .5s ease-in-out forwards; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-o-keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes loadingRing {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-moz-keyframes loadingRing {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-o-keyframes loadingRing {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes loadingRing {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes nodeMoveIn {
  from {
    max-height: 0;
    opacity: 0; }
  to {
    max-height: 100px;
    opacity: 1; } }

@-moz-keyframes nodeMoveIn {
  from {
    max-height: 0;
    opacity: 0; }
  to {
    max-height: 100px;
    opacity: 1; } }

@-o-keyframes nodeMoveIn {
  from {
    max-height: 0;
    opacity: 0; }
  to {
    max-height: 100px;
    opacity: 1; } }

@keyframes nodeMoveIn {
  from {
    max-height: 0;
    opacity: 0; }
  to {
    max-height: 100px;
    opacity: 1; } }

@-webkit-keyframes nodeMoveOut {
  from {
    max-height: 100px;
    opacity: 1; }
  to {
    max-height: 0;
    opacity: 0; } }

@-moz-keyframes nodeMoveOut {
  from {
    max-height: 100px;
    opacity: 1; }
  to {
    max-height: 0;
    opacity: 0; } }

@-o-keyframes nodeMoveOut {
  from {
    max-height: 100px;
    opacity: 1; }
  to {
    max-height: 0;
    opacity: 0; } }

@keyframes nodeMoveOut {
  from {
    max-height: 100px;
    opacity: 1; }
  to {
    max-height: 0;
    opacity: 0; } }

/* Simple CSS-reset. */
/* Base styling and layout. */
body {
  background-color: #6b2565;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input {
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif; }

button {
  -webkit-appearance: none;
  border-radius: 3px;
  border: none;
  background-color: white;
  color: #6b2565;
  transition: background-color .2s ease-in-out;
  border: 1px solid #e7e9ec; }
  button:hover:enabled {
    cursor: pointer;
    background-color: #f5f6f7; }
  button:disabled {
    opacity: .8; }

#text-ruler {
  visibility: hidden;
  white-space: nowrap; }

.dropdown {
  position: relative; }
  .dropdown select {
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #e7e9ec;
    outline: none;
    height: 22px;
    padding: 3px;
    background-color: white;
    border-radius: 0; }
  .dropdown:hover {
    cursor: pointer; }
  .dropdown:after {
    border: 1px solid #6b2565;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 5px;
    width: 5px;
    pointer-events: none;
    position: absolute;
    transform: rotate(-45deg);
    margin-top: -2px;
    right: .75em;
    top: 40%; }

#content {
  position: fixed;
  background-color: #f5f6f7;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  border: 1.5em solid #6b2565;
  overflow: hidden;
  text-align: center; }
  #content #hint {
    opacity: 0;
    position: absolute;
    left: 4em;
    top: 4em;
    font-weight: bolder;
    font-size: .9em;
    color: rgba(0, 0, 0, 0.7);
    max-width: 65%; }
  #content .zoom-button {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 9;
    top: 2em;
    font-size: 16px; }
  #content #zoom-out-button {
    right: 2em; }
  #content #zoom-in-button {
    right: 6em; }
  #content #logo {
    display: inline-block;
    width: 50vw;
    margin-top: 10vh;
    max-width: 80%; }
  #content #reset-button {
    display: none;
    opacity: 0;
    margin-top: 5vh;
    width: 110px; }
  #content #reset-position-button {
    position: absolute;
    bottom: 3em;
    height: 18px;
    width: 150px;
    left: calc(50% - 75px);
    margin: 0;
    z-index: 5; }
  #content #footer {
    position: absolute;
    background-color: #6b2565;
    color: white;
    right: 4em;
    bottom: 4em;
    font-size: .5em;
    padding: 1em;
    line-height: .1em;
    height: 40px;
    text-align: left; }
    #content #footer #privacy-button {
      color: white; }
  #content #overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10; }
  #content #privacy-popup {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 11;
    width: 500px;
    height: 60vh;
    top: 20vh;
    left: calc(50% - 250px - 1em);
    background-color: white;
    padding: 2em 4em 4em 4em;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    border: 4px solid #6b2565; }
    #content #privacy-popup h2 {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-weight: bold; }
    #content #privacy-popup #accept-button {
      -webkit-appearance: none;
      border-radius: 3px;
      border: none;
      background-color: #6b2565;
      color: white;
      padding: 5px 0 5px 0;
      font-size: .8em;
      transition: background-color .2s ease-in-out;
      width: 140px;
      left: calc(50% - 70px - 1em);
      bottom: calc(20vh + 1px + 1em);
      z-index: 2; }
      #content #privacy-popup #accept-button:hover {
        cursor: pointer;
        background-color: #581e53; }

/* Base styling for the mindmap. */
#content #mindmap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap; }
  #content #mindmap #rootnode {
    border: none;
    margin: 0;
    padding: 0 3vw 0 3vw;
    height: auto;
    text-align: center;
    width: 200px;
    height: 100%; }
    #content #mindmap #rootnode:hover {
      cursor: default; }
      #content #mindmap #rootnode:hover:after {
        display: none; }
    #content #mindmap #rootnode img {
      display: block;
      height: 26vh;
      margin-top: 37vh;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none; }
    #content #mindmap #rootnode .textbubble {
      position: absolute;
      display: inline-block;
      bottom: 62.5vh;
      max-width: 200%;
      min-width: 50%;
      width: auto;
      right: -5%;
      height: auto;
      word-wrap: break-word;
      white-space: normal;
      font-size: .8em;
      background-color: #6b2565;
      color: white;
      z-index: 2; }
      #content #mindmap #rootnode .textbubble.bubbleFadeIn {
        animation: fade-in .8s ease-in-out forwards; }
      #content #mindmap #rootnode .textbubble.bubbleFadeOut {
        animation: fade-out .8s ease-in-out forwards; }
      #content #mindmap #rootnode .textbubble:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-top-color: #6b2565;
        border-bottom: 0;
        border-left: 0;
        margin-left: -6px;
        margin-bottom: -12px; }
      #content #mindmap #rootnode .textbubble:before {
        display: block;
        position: absolute;
        opacity: 0;
        content: '';
        left: -6px;
        top: -6px;
        width: calc(100% + 12px);
        height: calc(100% + 12px);
        z-index: -1;
        background: repeating-linear-gradient(135deg, #6b2565, #6b2565 2px, #f5f6f7 2px, #f5f6f7 4px);
        transition: opacity .2s ease-in-out; }
      #content #mindmap #rootnode .textbubble:hover {
        cursor: pointer; }
        #content #mindmap #rootnode .textbubble:hover:before {
          opacity: .4; }
      #content #mindmap #rootnode .textbubble .textBubbleContent {
        display: block;
        width: auto;
        height: 100%;
        padding: 15px;
        background-color: inherit; }
        #content #mindmap #rootnode .textbubble .textBubbleContent p {
          margin: 0; }
        #content #mindmap #rootnode .textbubble .textBubbleContent.loading {
          height: auto;
          overflow: hidden; }
          #content #mindmap #rootnode .textbubble .textBubbleContent.loading label {
            display: block;
            float: left;
            height: 40px;
            line-height: 40px;
            margin: 0 20px 0 10px;
            font-size: 1.1em; }
          #content #mindmap #rootnode .textbubble .textBubbleContent.loading .loadingRing {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 0;
            float: right; }
            #content #mindmap #rootnode .textbubble .textBubbleContent.loading .loadingRing div {
              box-sizing: border-box;
              display: block;
              position: absolute;
              width: 32px;
              height: 32px;
              margin: 6px;
              border: 4px solid white;
              border-radius: 50%;
              animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
              border-color: white transparent transparent transparent; }
        #content #mindmap #rootnode .textbubble .textBubbleContent.studySelect {
          width: 250px; }
          #content #mindmap #rootnode .textbubble .textBubbleContent.studySelect select {
            width: 90%;
            margin-top: 15px; }
            #content #mindmap #rootnode .textbubble .textBubbleContent.studySelect select:disabled {
              opacity: .7; }
          #content #mindmap #rootnode .textbubble .textBubbleContent.studySelect button {
            margin-top: 15px;
            width: 60%; }
        #content #mindmap #rootnode .textbubble .textBubbleContent span.standard {
          padding: 15px; }
  #content #mindmap #leftbranch {
    direction: rtl;
    text-align: right; }
  #content #mindmap .children {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 1vw;
    list-style: none;
    vertical-align: middle;
    text-align: left; }

/* Styling for the nodes. */
/* Include all specific node stylesheets. */
.child-item.checklist .node-checklist-progressbar {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  width: 100%;
  height: 8px; }
  .child-item.checklist .node-checklist-progressbar .bar {
    height: 100%;
    width: 0;
    transition: .3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.6); }

.child-item.checklist .node-active-content ul {
  padding: 15px;
  margin: 0;
  font-size: .9em;
  line-height: 1.1em;
  font-weight: 300;
  list-style: none; }
  .child-item.checklist .node-active-content ul li {
    display: block;
    margin: 0 0 5px 0;
    width: 100%; }
    .child-item.checklist .node-active-content ul li .container {
      display: block;
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .child-item.checklist .node-active-content ul li .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer; }
        .child-item.checklist .node-active-content ul li .container input:checked ~ .checkmark {
          background-color: #f5f6f7; }
        .child-item.checklist .node-active-content ul li .container input:checked ~ .checkmark:after {
          display: block; }
      .child-item.checklist .node-active-content ul li .container:hover input ~ .checkmark {
        background-color: #f5f6f7; }
      .child-item.checklist .node-active-content ul li .container .checkmark {
        position: absolute;
        top: 1px;
        left: 0;
        height: 12px;
        width: 12px;
        background-color: #f5f6f7; }
        .child-item.checklist .node-active-content ul li .container .checkmark:after {
          content: "";
          position: absolute;
          display: none;
          left: 3px;
          top: -1px;
          width: 4px;
          height: 8px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.child-item.text .node-active-content {
  padding: 15px;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  font-weight: normal; }

.child-item.video .node-active-content .text {
  font-weight: normal;
  box-sizing: border-box;
  padding: 0 15px 15px 15px;
  font-size: 14px;
  line-height: 16px; }

.child-item.video .node-active-content .frame {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border: none; }

/* Basic styling for the nodes and their containers. */
.children {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 0 0 1vw;
  list-style: none;
  vertical-align: middle;
  text-align: left; }
  .children .child-item {
    position: relative;
    padding: 0 0 0 1vw;
    border-left: 4px solid grey;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab; }
    .children .child-item:before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 2vw;
      border-top: 4px solid grey;
      content: ''; }
    .children .child-item:first-child:before {
      bottom: 0;
      left: -1px;
      border-left: 4px solid grey; }
    .children .child-item:last-child:before {
      top: 0;
      bottom: 50%;
      left: -1px;
      border: 0;
      border-bottom: 4px solid grey;
      border-left: 4px solid grey; }
    .children .child-item:only-child:before {
      border-left: none;
      border-right: none; }
    .children .child-item:first-child, .children .child-item:last-child {
      border-left: 1px solid transparent !important; }

#leftbranch {
  direction: rtl;
  text-align: right; }
  #leftbranch .node-content-container {
    right: 0px; }
  #leftbranch .child-item {
    padding: 0 10px 0 0;
    border: 0;
    border-right: 4px solid grey;
    margin-right: calc(1vw + 1em + 8px); }
    #leftbranch .child-item:first-child:before {
      right: -1px;
      border: 0;
      border-top: 4px solid grey;
      border-right: 4px solid grey;
      direction: ltr; }
    #leftbranch .child-item:last-child:before {
      top: 0;
      right: -1px;
      bottom: 50%;
      border: 0;
      border-right: 4px solid grey;
      border-bottom: 4px solid grey;
      direction: ltr; }
    #leftbranch .child-item:first-child, #leftbranch .child-item:last-child {
      border-right: 1px solid transparent !important; }
    #leftbranch .child-item:before {
      top: 50%;
      right: 0;
      left: auto; }
    #leftbranch .child-item:only-child:before {
      border-left: none;
      border-right: none; }
  #leftbranch .children:before {
    right: -4px;
    left: auto; }
  #leftbranch .node-expand {
    right: calc(100% + 1vw + 1em); }
    #leftbranch .node-expand .pipe {
      right: calc(-1vw - 1em); }
  #leftbranch .node {
    margin: 1em 1em 1em 0; }

#rightbranch .node-content-container {
  left: 0px; }

#rightbranch .children .child-item {
  margin-left: 11px; }

#rightbranch .node-expand {
  left: calc(100% + 1vw + 1em + 3px); }
  #rightbranch .node-expand .pipe {
    left: calc(-1vw - 1em - 2px); }

#rightbranch .node {
  margin: 1em; }

.child-item {
  position: relative;
  padding: 0 0 0 1vw;
  border-left: 4px solid grey;
  cursor: move;
  width: 250px; }
  .child-item.animate-in {
    animation: nodeMoveIn .6s linear; }
  .child-item.animate-out {
    animation: nodeMoveOut .6s linear forwards; }

.node {
  position: relative;
  display: inline-block;
  min-width: 250px;
  width: auto;
  vertical-align: middle;
  text-align: left;
  cursor: pointer;
  font-size: 1em;
  color: white;
  height: 50px;
  transition: height .3s ease-in-out; }
  .node.hover:after {
    display: block;
    position: absolute;
    content: '';
    left: -6px;
    top: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    z-index: 0;
    background: repeating-linear-gradient(135deg, #d2d2d2, #d2d2d2 2px, #f5f6f7 2px, #f5f6f7 4px);
    transition: opacity .3s ease-in-out; }
  .node:hover {
    cursor: pointer; }
  .node a {
    color: white; }
  .node.active .node-arrow {
    transform: rotate(90deg); }
  .node .node-expand {
    display: block;
    position: absolute;
    top: calc(50% - 12px);
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 14px;
    z-index: 1; }
    .node .node-expand .chevron {
      display: block;
      position: absolute;
      width: .5em;
      height: .5em;
      border-right: 2px solid white;
      border-top: 2px solid white;
      z-index: 3;
      transition: .3s ease-in-out; }
      .node .node-expand .chevron.left {
        left: 9px;
        top: 8px;
        transform: rotate(-135deg); }
      .node .node-expand .chevron.right {
        transform: rotate(45deg);
        left: 7px;
        top: 8px; }
    .node .node-expand.active .chevron.left {
      left: 8px;
      top: 6px;
      transform: rotate(-225deg); }
    .node .node-expand.active .chevron.right {
      left: 8px;
      top: 6px;
      transform: rotate(135deg); }
    .node .node-expand .pipe {
      display: block;
      position: absolute;
      height: 4px;
      top: calc(50% - 2px);
      width: calc(1em + 1vw + 12px);
      background-color: inherit;
      z-index: -1; }
    .node .node-expand:before {
      display: block;
      position: absolute;
      content: '';
      left: -5px;
      top: -5px;
      width: 28px;
      height: 28px;
      background-color: inherit;
      border-radius: 50%;
      border: 3px solid #f5f6f7;
      z-index: 3; }
    .node .node-expand.hover:after {
      display: block;
      position: absolute;
      content: '';
      left: -8px;
      top: -8px;
      width: 40px;
      height: 40px;
      z-index: 2;
      border-radius: 50%;
      transition: .3s ease-in-out;
      background: repeating-linear-gradient(135deg, #d2d2d2, #d2d2d2 2px, #f5f6f7 2px, #f5f6f7 4px); }
    .node .node-expand:hover {
      cursor: pointer; }
  .node .node-content {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    direction: ltr; }
    .node .node-content .node-content-container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      line-height: 42px;
      padding-left: 20px;
      box-sizing: border-box;
      z-index: 3;
      background-color: inherit;
      border: 4px solid #f5f6f7;
      font-weight: bold;
      width: auto;
      min-width: 250px; }
      .node .node-content .node-content-container .node-name {
        padding-right: 50px;
        box-sizing: content-box; }
        .node .node-content .node-content-container .node-name * {
          margin: 0;
          padding: 0; }
      .node .node-content .node-content-container .node-arrow {
        display: block;
        position: absolute;
        top: 0;
        right: 10px;
        height: 45px;
        line-height: 45px;
        transition: .3s ease-in-out; }
      .node .node-content .node-content-container .node-active-content {
        display: block;
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
        height: auto;
        white-space: initial;
        margin: 0;
        overflow-x: hidden;
        overflow-y: auto;
        direction: ltr;
        z-index: 2; }
