$DESKTOP_HEIGHT_MAX: 1000px;
$MOBILE_HEIGHT_MAX: 700px;
$MOBILE_WIDTH_MAX: 500px;

#view {
  width: calc(100% - 300px);

  #center_button {
    left: calc(50% - 75px - 150px);
  }
}

#mindmap {
  .node_root {
    #reset_button {
      z-index: 101;
    }
  }
}

.node {
  .node__content {
    &:after {
      display: none;
    }
  }
}

.editor_editable:hover {
  &:after {
    display: block;
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    box-sizing: border-box;
    opacity: .6;
    border: 3px dashed #0097e6;
    transition: .3s ease-in-out;
    cursor: pointer;
  }
}

.admin_selected, .editor_editable.admin_selected:hover {
  &:after {
    display: block;
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    box-sizing: border-box;
    opacity: 1;
    border: 3px solid #0097e6;
    transition: .3s ease-in-out;
  }
}

#editor_side_panel {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 300px;
  box-sizing: border-box;
  background-color: rgb(245, 246, 247);
  border-left: 1px solid darken(rgb(245, 246, 247), 5);
  overflow: scroll;

  #editor_main_label {
    font-size: 1.7em;
    font-weight: bold;
    padding: 30px;
    display: block;
  }

  #editor_form_hint {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
  }

  .editor_button.save {
    -webkit-appearance: none;
    width: 200px;
    display: block;
    margin-left: calc(50% - 100px);
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    border: 1px solid #e7e9ec;
    box-sizing: border-box;
    padding: 3px;
    color: #2980b9;

    &:hover {
      cursor: pointer;
      background-color: #f5f6f7;
    }
  }

  #editor_form {
    border-top: 1px solid darken(rgb(245, 246, 247), 5);
    width: 100%;

    textarea, input {
      max-width: 150px;
    }

    .remove_editor_entry {
      color: #F44336;
      font-size: .7em;

      &:hover {
        cursor: pointer;
      }
    }

    .remove_trigger {
      float: right;
      margin: 5px 5px 0 0;
    }

    .editor_theorem_add_box, .editor_trigger_add_box {
      width: 100%;
      line-height: 20px;
      height: 25px;
    }

    .add_theorem, .add_trigger {
      color: #4CAF50;
      font-size: .7em;
      margin-left: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    tr {
      td {
        height: 50px;
        border-bottom: 1px solid darken(rgb(245, 246, 247), 5);

        input {
          padding: 3px;
        }

        .editor_node_trigger_row {
          font-size: .7em;
        }

        .editor_node_theorem {
          margin: 5px;
          min-width: 150px;
        }

        .editor_node_trigger {
          display: inline-block;
          margin: 5px;
        }

        .editor_node_feedback {
          margin: 5px;
        }

        img {
          max-height: 100px;
          padding: 10px 0 10px 0;
        }
      }

      td:nth-of-type(1) {
        padding-right: 10px;
        font-size: .7em;
        opacity: .9;
        font-weight: bold;
        text-align: right;
      }
    }

    .editor_button {
      -webkit-appearance: none;
      width: 200px;
      display: block;
      margin-left: calc(50% - 100px);
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 3px;
      transition: background-color .2s ease-in-out;
      border: 1px solid #e7e9ec;
      box-sizing: border-box;
      padding: 3px;

      &.add {
        color: #4CAF50;
      }
      &.delete {
        color: #F44336;
      }

      &:hover {
        cursor: pointer;
        background-color: #f5f6f7;
      }
    }


    .editor_html_editor {
      display: none;
      position: fixed;
      z-index: 3;
      width: 500px;
      height: 60vh;
      top: 20vh;
      left: calc(50% - 250px - 1em);
      background-color: white;
      padding: 2em 4em 4em 4em;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: scroll;
      border: 1px solid grey;
      text-align: center;
      border: 4px solid rgb(107, 37, 101);
    }
  }

}

#editor_html_editor {
  position: fixed;
  z-index: 3;
  width: 70vw;
  height: 60vh;
  top: 20vh;
  left: calc(50% - 30vw - 1em);
  background-color: white;
  padding: 2em 4em 4em 4em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid grey;
  text-align: center;
  border: 4px solid rgb(107, 37, 101);

  .pell-content {
    text-align: left;
    height: 100%;
    width: 100%;
  }

  .html_editor_button.save {
    -webkit-appearance: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(107, 37, 101);
    color: white;
    padding: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}
